@charset "UTF-8";

body{background-color: aquamarine; font-family: Arial, Helvetica, sans-serif; font-size: 20px;}
h1{color: darkblue; font-size: 1.5em; background-color: aliceblue; text-decoration: underline;}
h2{color: red; font-size: 1.2em;}
